/data.csv
/img
/artists.csv
/wikiart_scraped.csv
/all_embeddings.npy
/audio
/embeddings.npy
/embeddings_full.pkl
/file_names.npy
/most_crop
/most_no_crop
/embeddings_multi.npy
/file_names_multi.npy
/embeddings_full_multi.pkl
